[submodule "ext/corrade"]
	path = ext/corrade
	url = https://github.com/mosra/corrade.git
[submodule "ext/magnum"]
	path = ext/magnum
	url = https://github.com/mosra/magnum.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/magnum-integration"]
	path = ext/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "ext/magnum-examples"]
	path = ext/magnum-examples
	url = https://github.com/mosra/magnum-examples.git
[submodule "ext/ImGuizmo"]
	path = ext/ImGuizmo
	url = https://github.com/gergondet/ImGuizmo
[submodule "ext/magnum-plugins"]
	path = ext/magnum-plugins
	url = https://github.com/mosra/magnum-plugins
